rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /threadContents/{threadId}/users/{userId}/messages/{messageId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /threadContents/{threadId}/users/{userId}/reactions/{messageId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /threadContents/{document=**} {
      allow read: if request.auth != null;
    }
  }
}